* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1, h2 {
    display: flex;
    justify-content: center;
    color: #333;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.container {
    border: 1.5px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.185);
    padding: 30px;
}

.titulo {
    margin-bottom: 16px;
}

.form__container {
    display: flex;
    justify-content: space-between;
    gap: 5px 0;
    margin-bottom: 16px;
}

.form__container--column {
    flex-direction: column;
}

.form__containerElement {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form__containerElement input {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}

.buttons--right {
    justify-content: flex-end;
}

.button {
    padding: 8px 12px;
    background-color: #565d5f;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.button:hover {
    background-color: #3e3e3f;
}

.buttonVoltar {
    position: absolute;
    top: 20px;
    left: 20px;
}

.mensagem {
    margin-top: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
}

.mensagem--success {
    background-color: #d4edda;
    color: #155724;
}

.mensagem--error {
    background-color: #f8d7da;
    color: #721c24;
}

.mensagem--hidden {
    display: none;
}
