* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 100vh;
}

h1, h2 {
    display: flex;
    justify-content: center;
    color: #333;
}

.bloco__form {
    border: 1.5px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.185);
}

form .disciplinas__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 8px 12px;
    background-color: #565d5f;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e3e3f;
}